.bookmark-remove-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-image: url('../../../images/bookmark-icon-to-remove.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313131;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.bookmark-remove-button:hover {
    cursor: pointer;
    opacity: .6;
}

.bookmark-remove-button:focus {
    outline: none;
}
